<div id="app">
  <h1>Chess Results Analyzer</h1>
  <app-upload-file></app-upload-file>

  <div id="main">
    <div id="results">
      <h2>Results</h2>

      <div class="result">
        <div class="row">
          <div class="col">
            <p>Games won</p>
            <p class="numbersWin">
              {{ gamesResult.numberOfGamesWon }} /
              {{
                (
                  (gamesResult.numberOfGamesWon / totalNumberOfGames) *
                  100
                ).toFixed(2)
              }}%
            </p>
          </div>
          <div class="col">
            <p>Games drawn</p>
            <p class="numbersDraw">
              {{ gamesResult.numberOfGamesDrawn }} /
              {{
                (
                  (gamesResult.numberOfGamesDrawn / totalNumberOfGames) *
                  100
                ).toFixed(2)
              }}%
            </p>
          </div>
          <div class="col">
            <p>Games lost</p>
            <p class="numbersLose">
              {{ gamesResult.numberOfGamesLost }} /
              {{
                (
                  (gamesResult.numberOfGamesLost / totalNumberOfGames) *
                  100
                ).toFixed(2)
              }}%
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="filters">
      <h2>Filters</h2>
      <div id="selects">
        <select #openings (change)="onOpeningSelected(openings.value)">
          <option default>All openings</option>
          <option>Scotch</option>
          <option>Spanish</option>
          <option>Italian</option>
          <option>Caro-kann</option>
          <option>Petrov</option>
          <option>Scandinavian</option>
          <option>Alekhine</option>
          <option>Sicilian</option>
          <option>Slav</option>
          <option>e4</option>
          <option>d4</option>
        </select>

        <select #colors (change)="onColorSelected(colors.value)">
          <option default>All colors</option>
          <option>White</option>
          <option>Black</option>
        </select>

        <select #time (change)="onTimeSelected(time.value)">
          <option default value="0">All times</option>
          <option value="120+1">2+1</option>
          <option value="180+2">3+2</option>
          <option>5+0</option>
          <option>10</option>
        </select>

        <select #endgame (change)="onEndgameSelected(endgame.value)">
          <option default>All end of game</option>
          <option>Checkmate</option>
          <option>Resignation</option>
          <option>Draw</option>
          <option>Time</option>
        </select>
      </div>
    </div>
  </div>

  <app-export-file></app-export-file>
</div>
